.search-box {
  position: absolute;
  left: 50%;
  top: 12%;
  width: 70%;
  max-width: 600px;
  height: auto;
  z-index: 100;
  transform: translateX(-50%);
}

.search-input {
  width: 100%;
  height: 20%;
  background-color: transparent;
  color: #fff;
  font-size: 2rem;
  position: relative;
}

.search-input svg {
  background-color: #727272;
  height: 4.9vh;
  width: 40px;
  position: absolute;
  top: 9%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.search-input input {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  outline: none;
  border: none;
  background-color: #727272;
  color: #fff;
  height: 5vh;
  width: calc(100% - 50px);
  padding: 0.5rem;
  font-size: 1.2rem;
}

.search-input input::placeholder {
  color: #b1b1b1;
}

.result-box-open {
  background-color: #fff;
  margin-top: 0.5rem;
  box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
  width: calc(100% - 30px);
  min-height: 2rem;
  height: fit-content;
  z-index: 100;
  padding: 0.5rem;
  font-size: 1rem;
}

.result-box-close {
  display: none;
}

.result-product {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  cursor: pointer;
  height: 10vh;
  width: 100%;
  gap: 2rem;
  margin-top: 0.5rem;
  border-bottom: 1px solid #f5f3f3;
}

.result-product-image {
  width: 15%;
  height: 100%;
}

.result-product-btn {
  border: none;
  outline: none;
  font-size: 1.2rem;
  width: 100%;
  background-color: #fff;
  height: auto;
  cursor: pointer;
}

/* Media Queries */
@media (max-width: 768px) {
  .search-box {
    width: 30%;
    top: 20%;
    left: 80%;
  }

  .search-input {
    font-size: 1.5rem;
  }

  .search-input input {
    font-size: 1.2rem;
  }

  .search-input svg {
    top: 0;
  }

  .result-product {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    height: 15vh;
  }

  .result-product-image {
    width: 30%;
  }
  .result-product-btn {
    height: 5vh;
  }
}
