.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  margin: 3em;
}

.product-list a {
    text-decoration: none;
}

.product-card {
    background-color: #eee;
    height: 35vh;
    width: 20vw;
    margin: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    font-size: .8rem;
    padding: 1em;
    color: black;
    transition: .6s;
    cursor: pointer;
    border-radius: .5em;
}

.product-image {
  height: 15vh;
  width: 10vw;
  border: 0.3px solid black;
  border-radius: 1em;
}
