.category {
  font-size: 1.5rem;
  gap: 1rem;
  user-select: none;
}

.select {
  cursor: pointer;
}

.category-box {
  width: 20vw;
  height: 40vh;
  color: black;
  position: absolute;
  left: 5%;
  top: 100%;
  background-color: white;
  box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
}

.category-box p {
  transition: .5s;
}

.category-box p:hover {
  color: #fdc5ce;
}

.close {
  display: none;
}

.open {
  display: block;
}

.category-box .categories {
  display: block;
  margin: 1rem;
  cursor: pointer;
}
