.category {
  font-size: 1.5rem;
  gap: 1rem;
  user-select: none;
  width: 7vw;
  height: 5vh;
  position: absolute;
  left: 3%;
  background-color: #cecececb;
  padding: .4rem .7rem;
  border-radius: 1rem;
}

.select {
  cursor: pointer;
}

.category-box {
  width: 15vw;
  height: 25vh;
  color: black;
  position: relative;
  left: 10%;
  margin-top: 1rem;
  background-color: #fff;
  box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
  z-index: 1;
  padding: .3rem;
}

.category-box a p {
  transition: 0.5s;
}

.category-box a p:hover {
  color: #fdc5ce;
}

.close {
  display: none;
}

.open {
  display: block;
}

.category-box .categories {
  display: block;
  margin: 1rem;
  cursor: pointer;
}


@media (max-width: 768px) {
  .category {
    font-size: 1rem;
    width: 15vw;
    height: 6vh;
    top: 25%;
    padding: .2rem .7rem;
  }

  .category-box {
    width: 20vw;
    height: 30vh;
    padding: .2rem;
  }
}