.home-slide {
  width: 60vw;
  height: 40vh;
  margin: 4rem auto;
  font-size: 1.3rem;
  position: relative;
}

.home-slide ul {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.home-slide ul li {
  border: 2px solid #b8b7b7;
  border-radius: 50%;
  padding: 10px;
}

.home-slide ul li button {
  background: transparent !important;
  color: transparent !important;
}

.home-slide ul li button::before {
  font-size: 15px;
  color: #0f3460;
  position: absolute;
  top: 2px;
  left: 0;
  margin: auto;
}

.slide-card {
  display: flex !important;
  gap: 1rem;
}

.right-slide-side {
  width: 70vw;
  height: 40vh;
  display: flex;
  gap: 3rem;
  align-items: center;
}

.right-slide-side p {
  height: fit-content;
  width: fit-content;
}

.slide-card .left-slide-side img {
  width: 15vw;
  height: 40vh;
}

.slick-prev,
.slick-arrow,
.slick-next {
  display: none !important;
}

.pagination-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  width: 100%;
  height: auto;
  position: relative;
}

.item {
  align-items: center;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  justify-content: center;
  width: 5vw;
  height: 3vh;
}

.disabled-page {
  color: #808e9b;
}

.active {
  border-bottom: solid 1px #808e9b;
  color: #808e9b;
}

.next,
.previous {
  font-size: small;
  height: auto;
  position: absolute;
}

.next {
  right: 30px;
  border-left: solid 1px #808e9b;
}

.previous {
  left: 30px;
  border-right: solid 1px #808e9b;
}

.pagination {
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  height: auto;
  justify-content: center;
  list-style-type: none;
}

.pagination-page {
  font-weight: bold;
}

@media (max-width: 1024px) {
  .home-slide {
    width: 90vw;
    height: 50vh;
    margin-top: 2rem;
    font-size: 1rem;
  }

  .slide-card {
    flex-direction: column;
    align-items: center; 
    gap: 2rem; 
    width: calc(100% - 2rem);
    margin-bottom: 2rem;
    height: 40vh;
  }

  .slide-card .right-slide-side,
  .slide-card .left-slide-side {
    width: auto; 
    height: auto; 
  }

  .pagination {
    flex-direction: column; 
    width: auto; 
    height: auto; 
  }
}

@media (max-width: 768px) {
  .home-slide {
    font-size: 0.8rem;
    height: 50vh;
    width: 90vw;
    margin: 5rem auto;
  }

  .right-slide-side p {
    height: 30vh;
    width: 30vw;
  }

  .item {
    font-size: 0.7rem;
    height: auto;
    width: auto;
  }

  .next,
  .previous {
    font-size: small;
    height: auto;
  }
}
