.navbar {
  background-color: #0f3460;
  padding: 10px 0;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  height: 15vh;
}

.right-navbar {
  display: flex;
  justify-content: space-between;
  width: 10vw;
  height: 5vh;
  margin: 1rem;
}

.them-changer,
.login-icon {
  cursor: pointer;
  transition: 0.5s;
}

.logo {
  margin: 1rem;
}

.navigation {
  font-size: 1.5rem;
    margin: auto;
  width: 40vw;
  height: 10vh;
}

.navigation ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.navigation ul li a {
  color: #fff;
  text-decoration-line: none;
}
